@page
@model WebUI.Pages.Home.AboutModel
@{

}
<div class="container py-5" id="about">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title  "> Backend </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Technologies and Libraries</h6>
                    <ul class="tech-list">
                        <li>
                            <a href="https://learn.microsoft.com/en-us/dotnet/core/whats-new/dotnet-6">
                                .Net Core 6, Razor Pages, Web Api
                            </a>
                        </li>
                        <li>
                            <a href="https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html">
                                Clean Architecture
                            </a>
                        </li>
                        <li>
                            <a href="https://en.wikipedia.org/wiki/Domain-driven_design">
                                Domain Drive Design
                            </a>
                        </li>

                        <li>
                            <a href="https://autofac.org/">
                                Autofac
                            </a>
                        </li>
                        <li>
                            <a href="https://fluentvalidation.net/">
                                FluentValidation
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/MapsterMapper/Mapster">
                                Mapster
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/jbogard/MediatR">
                                MediatR
                            </a>
                        </li>
                        <li>
                            <a href="https://learn.microsoft.com/en-us/ef/core/">
                                Entity Framework Core
                            </a>
                        </li>
                        <li>
                            <a href="https://serilog.net">
                                Serilog
                            </a>
                        </li>

                        <li>
                            <a href="https://20devs.com/find-mimetype">
                                TwentyDevs.MimeTypeDetective
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/Taritsyn/WebMarkupMin">
                                WebMarkupMin
                            </a>
                        </li>

                        <li>
                            <a href="https://html-agility-pack.net/">
                                HtmlAgilityPack
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Fontend </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Technologies and Libraries</h6>
                    <ul class="tech-list">
                        <li>
                            <a href="https://gruntjs.com/" >
                                Grunt.js
                            </a>
                        </li>
                        <li>
                            <a href="https://jquery.com" >
                                jQuery.js
                            </a>
                        </li>
                      
                        <li>
                            <a href="https://jqueryvalidation.org/" >
                                jQuery.validate.js
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/abelperezok/jquery-ajax-unobtrusive" >
                                jQuery.unobtrusive.js
                            </a>
                        </li>
                        <li>
                            <a href="http://imakewebthings.com/waypoints/" >
                                waypoints.js
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/ro31337/jquery.ns-autogrow" >
                                jQuery.ns-autogrow.js
                            </a>
                        </li>
                        <li>
                            <a href="https://fontawesome.com" >
                                Font-Awesome
                            </a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/" >
                                Bootstrap-5x
                            </a>
                        </li>
                        <li>
                            <a href="https://plyr.io/" >
                                plyr.js
                            </a>
                        </li>
                        <li>
                            <a href="http://lokeshdhakar.com/projects/lightbox2/" >
                                lightbox2
                            </a>
                        </li>
                        <li>
                            <a href="https://foliotek.github.io/Croppie/" >
                                croppie
                            </a>
                        </li>
                        <li>
                            <a href="https://codeseven.github.io/toastr/" >
                                toastr
                            </a>
                        </li>
                        <li>
                            <a href="https://atomiks.github.io/tippyjs/" >
                                tippy
                            </a>
                        </li>
                        <li>
                            <a href="https://quilljs.com/" >
                                quill
                            </a>
                        </li>
                        <li>
                            <a href="https://lipis.github.io/bootstrap-sweetalert/" >
                                sweetalert
                            </a>
                        </li>
                        <li>
                            <a href="https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/" >
                                bootstrap-tagsinput
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>