@page
@model WebUI.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row d-flex justify-content-center my-5 g-2">
        
        <div class=" col-md-5 col-lg-4">
            <div class="card" >
                <img src="@Url.Content("~/dist/images/portfolio2.png")" height="300" class="card-img-top" alt="Add New Post" />
                <div class="card-body">
                    <h5 class="card-title h6">Add New Post</h5>
                    <p class="card-text text-xsmall text-muted">
                        this is a simple app to insert a post just like a social network post. 
                        Designed to share my experience and the problem that occurred on the way.
                        <br/>
                        Enjoy it...
                    </p>
                    <a asp-page="/Post/Index" class="btn btn-light-green text-light btn-sm stretched-link">Detail ...</a>
                </div>
            </div>
        </div>
     
    </div>
</div>