@page
@model WebUI.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row d-flex justify-content-center my-5 g-2">
        
        <div class="col-5">
            <div class="card" >
                <img src="..." class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title h6">Add New Post</h5>
                    <p class="card-text text-normal">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a asp-page="/Post/Index" class="btn btn-light-green text-light btn-sm">Detail ...</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card" >
                <img src="..." class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
        <div class="col-5">
            <div class="card" >
                <img src="..." class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card" >
                <img src="..." class="card-img-top" alt="..."/>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>