<footer class="footer mt-auto py-2 border-0 border-top-1 border-silver">
    <div class="container  text-center">
        <span class="text-small">
            All Rights Reserved to 
            <a href="https://20Devs.com">
                20Devs.com
            </a>
             
        </span>
    </div>
</footer>