@inject IOptions<SiteSettings> SiteSettings
<header id="main-header" class="navbar navbar-expand-md    border-bottom  shadow-sm py-0" style="height: 60px">

<!---------------------------------- Navbar Menu ----------------------------->

<nav class="container">
    
    <!---------------------------------- Navbar Brand ---------------------------->


    <a class="navbar-brand  pt-0 mt-1" asp-page="/Home/Index">
        <img src="@Url.Content("~/dist/images/logo.png")" width="50" height="50" class="float-start" alt=" @SiteSettings.Value.SiteTitleShort"/>
        <span class=" ">
            @SiteSettings.Value.SiteTitleShort
        </span>
        <span id="brand-sub-title" class="d-block text-xsmall">
            @SiteSettings.Value.SiteTitle
        </span>
    </a>

    <!---------------------------------- Navbar Menu ---------------------------->


    <div class="collapse navbar-collapse  text-small " style="z-index: 9999" id="navbarNavDropdown1">
        <ul class="navbar-nav hover-line  mx-auto">
            <li class="nav-item my-1 text-center">
                <a asp-page="/Home/Index" class="nav-link text-dark" title="Home">
                    Home
                </a>
            </li>
            <li class="nav-item  my-1 text-center">
                <a href="https://20devs.com" class="nav-link text-dark" title="Weblog">
                    Weblog
                </a>
            </li>
            <li class="nav-item  my-1 text-center">
                <a href="https://github.com/20Devs" class="nav-link text-dark" title="GitHub">
                    GitHub
                </a>
            </li>
            <li class="nav-item  my-1 text-center">
                <a asp-page="/Home/About" class="nav-link text-dark" title="About me">
                    About
                </a>
            </li>
        </ul>
    </div>


    <!---------------------------------- Navbar Menu Button Offcanvas ---------------------------->


    <button class="font-size-12 btn btn-sm btn-light mx-2  d-md-none"
            type="button"
            style="padding-bottom: 1px; border: 2px solid #0aaaa0; color: #0aaaa0;"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">
        <i class="fas fa-bars"></i>
    </button>
</nav>



</header>

<!---------------------------------- Offcanvas Menu ---------------------------->
@await Html.PartialAsync("_SideBar")

