
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <div>
            <div class="user-panel mt-3 pb-3 d-flex">
                <div class="image">
                    <img src=" " class="img-circle elevation-2" alt=" ">
                </div>
                <div class="info">
                    <a href="#" class="d-block"> </a>
                </div>
            </div>
            <div class="border-bottom border-light">
                <ul class="nav nav-pills nav-sidebar   flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item has-treeview ">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  fas fa fa-user"></i>
                            <p>
                                تنظیمات کاربری
                                <i class="fa fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link " asp-page="/Profile/Index">
                                    <i class="nav-icon profile-nav-icon far fa-id-card"></i>
                                    <p>
                                        پروفایل کاربر
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-page="/Profile/Password">
                                    <i class="nav-icon profile-nav-icon fas fa-unlock-alt"></i>
                                    <p>
                                        تغییر کلمه عبور
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-page="/Login/Index" asp-page-handler="logout">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block text-right">
                                        <i class="nav-icon profile-nav-icon fas fa-sign-out-alt"></i>
                                        خروج
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item ">
                        <a asp-page="/Admins/Index" class="nav-link  ">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>
                                مدیران وب سـایت
                            </p>
                        </a>
                    </li>
                    <ul class="nav nav-pills nav-sidebar   flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa fa-tasks"></i>
                                <p>
                                    کمپین های کمک رسانی
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Campaigns/Index">
                                        <i class="nav-icon fas fa fa-tasks"></i>
                                        <p>
                                            کمپین ها
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/CampaignCategory/Index" class="nav-link  ">
                                        <i class="nav-icon fas fa fa-layer-group"></i>
                                        <p>
                                            دسته کمپین ها
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-sidebar   flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview  ">
                            <a href="#" class="nav-link ">
                                <i class="nav-icon fas fa fa-rss"></i>
                                <p>
                                    اخــبار
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link  " asp-page="/News/Index">
                                        <i class="nav-icon fas fa fa-rss"></i>
                                        <p>
                                            اخبار وب سایت
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/NewsCategory/Index" class="nav-link ">
                                        <i class="nav-icon fas fa fa-layer-group"></i>
                                        <p>
                                            دسته خبرها
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <li class="nav-item">
                        <a asp-page="/Users/Index" class="nav-link ">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                لیست کاربران
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a asp-page="/Reports/Index" class="nav-link ">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                گــزارشات
                            </p>
                        </a>
                    </li>

                    <li class="nav-item has-treeview">
                        <a asp-page="/Settings/Index" class="nav-link  ">
                            <i class="nav-icon fas fa fa-cog"></i>
                            <p>
                                تـنظیمات
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</aside>
